---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://www.nasa.gov/sites/default/files/thumbnails/image/ocsd_02_v02.png
bottom_image: https://www.nasa.gov/sites/default/files/thumbnails/image/ocsd_02_v02.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Building student-led spaceflight heritage</h1>
			<p class="subtext editable">We're exploring the intersection of science and engineering with public policy and the humanities, by building, testing, and operating remote-sensing spacecraft.</p>
			<div class="cta button alt"><a href="mailto:956f4217.buckeyemail.osu.edu@amer.teams.ms">Get in touch</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Our Team</h2>
				<p class="editable">We're comprised of X members representing undergraduate and graduate students from X majors and x colleges. Meet the <a href="{{ site.base_url }}/about/"">corporate leadership</a>.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Open Science</h2>
				<p class="editable">We're not just building satellites for the sake of it - we're changing the way students interact with Earth by opening our resources to student-led research initiatives. Check out our <a href="{{ site.baseurl }}/projects/">projects</a>.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Want to get involved?</h2>
				<p class="subtext editable">The Open Earth Project welcomes all Ohio State students, and we're always looking for more industry, academic, and government partners.</p>
				<div class="cta button alt"><a href="mailto:956f4217.buckeyemail.osu.edu@amer.teams.ms">Get in touch</a></div>
			</div>
		</div>
	</section>
</div>
